@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Roboto', Times;
    padding: 0px;
    margin: 0px;
}

.container1 {
    background-color: #1F2937;
    padding: 0px 180px;
}

.logo{
    font-size: 24px;
    padding: 0px;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

}

a{
    text-decoration: none;
    color: #e5e7eb;
}

.links{
    color: #e5e7eb;
    text-decoration: none;
}

.awesome {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 40px;
    min-width: 900px;
}

.left-awesome {
    /* max-width: px; */
    max-width: 550px;
    min-width: 550px;
    
}


.botao {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}


.right-awesome {
    /* max-height: 220px; */
    /* min-width: 550px */
    /* width: 550px; */
    /* flex: 1; */
}

.container1 img {
    width: 450px;
    height: 250px;
}


.container2 {
    text-align: center;
    padding-top: 20px;

}

.pictures {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: baseline;
    margin: 25px 25px;

}

.pic {
    max-width: 200px;
    gap: 10px;
    min-width: 150px;
    
}

.container2 img{
    border-radius: 10px;
}   